body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    color: darkblue;
}
.birthday {
    text-decoration: underline;
    color: #62639b;
}
.education {
    border: 3px solid #222;
    margin: 20px;
    color: white;
    background-color: #4e77ad;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education-university {
    border: 1px solid white;
    margin: 10px;
    font-size: 20px;
}
.education-group {
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
}
.git {
    border: 5px ridge #62639b;
    margin: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.git-github {
    font-weight: bold;
    margin: 5px;
}
.git-gitlab {
    color: dimgray;
    margin: 5px;
}
.rock_gif {
    margin: 10px;
}
.timer {
    margin: 10px;
}
